<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
         <meta http-equiv="X-UA-Compatible" content="ie=edge">
         <title>MASTER - Multi-device based Authentication model using Stegged QR codes</title>
         <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
         <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>

<body>
      <a href="/"> <h2>MASTER - Multi-device based Authentication model using Stegged QR codes</h2> </a>
      <h2>Create an account</h2>
      <div id=container>
        <form class="form" method="post" action="/originalRegistration">
            <label for="confirm">Scan the QR code to Confirm Registration</label><br><br>
            <img name="confirm" src="static/confirm.png" width="200px" height="200px"><br><br>
            <button class="button button-blue" type="submit">Register</button><br>
        </form>
      </div>
</body>
</html>