<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
             <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
             <meta http-equiv="X-UA-Compatible" content="ie=edge">
             <title>MASTER - Multi-device based Authentication model using Stegged QR codes</title>
             <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
             <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>

<body>
    <a href="/"> <h2>MASTER - Multi-device based Authentication model using Stegged QR codes</h2> </a>
    <h2>Search account</h2>
    <div id=container>
    <form class="form" method="post" action="/user_search">
        <img src="{{ url_for('static', path='user_search.png') }}" width="100px" height="100px" alt="Search account"/><br><br><br>
        <input type="text" name="username" placeholder="Username"><br>
        <button class="button button-blue" type="submit">Search Account</button><br>
    </form>
    <img src="{{ data }}" width="200px" height="200px"/>

    <form class="form" method="post" action="/originalLogin">
        <button class="button button-green"> Login </button>
    </form>

</body>
</html>